.keep-px-app{
  // max-width: 480px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

#app {
  width: 100%;
}

.w-375{
  width: 375px;
}

.red-price{
  color: #F2270C;
}

.red-pay{
  color: #fa2c19;
}

.text-gray{
  color: #666;
}

.text-light-gray{
  color: #999;
}

.text-light-green{
  color: #53c7ca;
}

.van-button{
  height: 2.3rem;
}

.text-xxs{
  font-size: 10px;
}

